{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold mb-6 text-center">Your Cart</h1>

    {% if cart|length %}
        <div class="grid grid-cols-1 gap-4">
            {% for item in cart %}
                <div class="flex items-center bg-white shadow-md p-4 rounded-lg">
                    <div class="flex-shrink-0">
                        <img src="{{ item.product.get_thumbnail }}" alt="{{ item.product.title }}" class="w-24 h-24 object-cover rounded-md">
                    </div>
                    <div class="ml-4">
                        <h2 class="text-lg font-semibold">{{ item.product.title }}</h2>
                        <p class="text-gray-600">৳ {{ item.product.price }}</p>
                        <div class="flex items-center space-x-2 mt-2">
                            <a href="{% url 'change_quantity' item.product.id %}?action=increase" class="px-3 py-1 bg-teal-500 text-white rounded-lg hover:bg-teal-600">+</a>
                            <span class="text-lg">{{ item.quantity }}</span>
                            <a href="{% url 'change_quantity' item.product.id %}?action=decrease" class="px-3 py-1 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600">-</a>
                        </div>

                        <a href="{% url 'remove_from_cart' item.product.id %}" class="inline-block mt-4 px- py-1 bg-red-500 text-white rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr class="my-6">

        <div class="flex justify-between items-center">
            <strong class="text-xl">Total cost:</strong>
            <span class="text-2xl font-semibold">৳ {{ cart.get_total_cost }}</span>
        </div>
        <hr class="my-6">

        <a href="{% url 'checkout' %}" class="block w-full text-center py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-700">Proceed to Checkout</a>

    {% else %}
        <div class="p-6 bg-gray-100 rounded-lg">
            <p class="text-gray-600 text-center">Your cart is empty.</p>
        </div>
    {% endif %}
{% endblock %}
